@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './dark';
@import './light';
@import './variables';
@import './mixins';

html,
body {
  height: 100%;
  margin: 0;
}

*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }

a {
  text-decoration: none;
}

button {
  &:not(:last-child) {
    margin-right: $baseline-grid;
    min-width: 5%;
  }
}

code {
  font-family: $font-family-monospace;
  padding: .25 * $baseline-grid;
}

* {
  &::-webkit-scrollbar {
    background: transparent;
    height: $baseline-grid;
    width: $baseline-grid;
  }
}

//////////////////////////////////////////
// Overrides of Angular Material styles //
//////////////////////////////////////////

.mat-progress-spinner {
  margin: 0 auto;
}

.mat-card {
  margin: 2.4 * $baseline-grid;

  .mat-card-title {
    margin-bottom: $baseline-grid;
  }

  .mat-card-content {
    padding-top: 2 * $baseline-grid;
  }
}

.mat-chip.mat-standard-chip {
  box-shadow: none !important;
  font-size: $body-font-size-base;
  font-weight: $regular-font-weight;
  height: fit-content;
  line-height: $body-font-size-base;
  min-height: unset;
  padding: ($baseline-grid * .75) ($baseline-grid * 1.25);
  transition: none !important;
  word-break: break-all !important;

  &:hover::after {
    opacity: 0 !important;
  }

  &:focus::after {
    opacity: 0 !important;
  }
}

.mat-header-row,
.mat-row {
  min-height: (5 * $baseline-grid) !important;
  padding: 0 (2 * $baseline-grid) !important;
}

.mat-header-cell {
  font-size: $body-font-size-base;
  padding: 0 ($baseline-grid / 2);

  &:first-child,
  &:last-child {
    padding: 0 !important;
  }
}

.mat-cell {
  margin: (.5 * $baseline-grid) 0 !important;

  &:not(:first-child) {
    &:not(:last-child) {
      padding: 0 ($baseline-grid / 2);
    }
  }

  &:last-child {
    padding-right: 0 !important;
  }

  &:first-child {
    padding-left: 0 !important;
  }
}

.mat-column-statusicon {
  flex: 0 0 ($baseline-grid * 5) !important;
}

.mat-column-labels,
.mat-column-images,
.mat-column-name,
.mat-column-message {
  flex-grow: 2 !important;
}

[class^='mat-column-action'],
[class*='mat-column-action'] {
  flex: 0 0 ($baseline-grid * 5) !important;
}

.mat-sort-header-arrow {
  align-self: center;
}

.mat-paginator-container,
.mat-paginator-range-actions {
  font-size: $body-font-size-base;
  min-height: 5 * $baseline-grid !important;
}

.mat-paginator-container {
  padding-right: 3 * $baseline-grid !important;
}
.mat-paginator-container .mat-paginator-icon {
  width: 18px;
  fill: currentColor;
}

.mat-button-toggle-group {
  border-bottom: 0 !important;
  box-shadow: none !important;
}

router-outlet::after {
  padding: 0 !important;
}

////////////////////////////////////////////
// Custom classes used across application //
////////////////////////////////////////////

.kd-equivalent-block {
  border-radius: $baseline-grid / 4;
  font-size: $body-font-size-base;
  margin: (1.5 * $baseline-grid) 0;
  padding: $baseline-grid;

  mat-icon {
    @include kd-icon-size(3 * $baseline-grid);

    margin-right: $baseline-grid;
  }
}

.kd-dialog-text {
  font-family: $font-family-sans;
  padding-bottom: .5 * $baseline-grid;
  padding-top: 0;
}

.kd-toolbar-action {
  margin: 0 (.75 * $baseline-grid) !important;
}

.kd-code-block {
  border-radius: $baseline-grid / 4;
  display: block;
  font-family: $font-family-monospace;
  font-size: $body-font-size-base;
  padding: $baseline-grid * 2;
  white-space: pre-wrap;
}

.kd-code-block-font {
  font-size: $body-font-size-base;
}

.kd-minimized-card {
  margin: 0 (2.5 * $baseline-grid);
  outline: none;

  &.mat-card {
    border-radius: 0;
  }
}

.kd-inline-property {
  display: inline-flex;
  margin-right: 3 * $baseline-grid;
}

.kd-card-group-header {
  font-family: $font-family-sans;
  font-size: $title-font-size-base;
  margin: (3 * $baseline-grid) 0 (2.5 * $baseline-grid) (4.5 * $baseline-grid);
}

.kd-card-top-radius {
  border-top-left-radius: .25 * $baseline-grid;
  border-top-right-radius: .25 * $baseline-grid;
}

.kd-bold {
  font-weight: $bold-font-weight;
}

.kd-h1 {
  font-size: 24px;
}

.kd-h3 {
  font-size: 16px;
}

.kd-card-padding {
  padding: 2.5 * $baseline-grid;
}

.kd-no-margin {
  margin: 0;
}

.kd-margin-bottom {
  margin-bottom: $baseline-grid;
}

.kd-margin-right {
  margin-right: $baseline-grid;
}

.kd-slider-value {
  font-size: $subhead-font-size-base-lg;
  text-align: right;
  width: 2 * $baseline-grid;
}

.kd-comma-separated-item {
  display: inline-block;

  &:not(:last-child) {
    &::after {
      content: ',';
    }
  }
}

.kd-pre-block {
  margin: 0;
  min-width: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.kd-loading-shade {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.kd-chips-show-button {
  cursor: pointer;
  font-size: $body-font-size-base;
  font-weight: $regular-font-weight;
  height: fit-content;
  line-height: $body-font-size-base;
  padding: ($baseline-grid * .75) ($baseline-grid * 1.75);
}

.kd-on-top {
  z-index: 100;
}

.kd-clickable {
  cursor: pointer !important;
}

.kd-no-bottom-border {
  border-bottom: 0 !important;
}

// This is a workaround to remove whitespace from code block element.
.kd-no-whitespace {
  font-size: 0;
}

.kd-hidden {
  display: none !important;
}

.kd-table-no-footer {
  .mat-row:last-of-type {
    border-bottom: 0;
  }
}

// Override Arial font type
.nvtooltip {
  font-family: Roboto, sans-serif;
}

// 16/11/2121

.kd-light-theme .kd-bg-primary {
  background-color: #fff !important;
}
.kd-light-theme .kd-accent{
  font-weight:400;
  color: #000;
}
.kd-scroll-container{
  background-color: #fff;
}
.kd-light-theme .mat-card:not([class*='mat-elevation-z']){
  box-shadow:none;
}
.mat-sort-header-button{
  font-size:11px !important;
}
.kd-light-theme .kd-search {
  background-color: #fff;
  border: 1px solid #ccc;
}
.kd-search{
  margin-top: 0px;
  height: 32px !important;
}

.kd-search input {
  padding: 5px !important;
  margin-top: 4px !important;
  font-size: 13px !important;
}
.kd-search .kd-search-icon{
  font-size: 21px;
  margin-top: 7px;
  margin-left: 5px !important;
}
.mat-raised-button{
  border-radius: 2px !important;
}
.kd-toolbar {
  height: 60px !important;
  min-height: 60px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.kd-search input {
  margin-top: 0px;
}
.menu_icon{
  // width: 13px;
  margin-top: -2px;
  margin-right: 5px;
}
.submenu_icon{
  // width: 13px;
  margin-top: -2px;
  margin-right: 5px;
}
.kd-nav-item {
  margin-left: 32px !important;
}
// .kd-light-theme a{
//   font-size: 10px !important;
// }
.mat-header-cell {
  font-size: 12px !important;
}
.mat-cell:not(:first-child):not(:last-child){
  font-size: 14px !important;
}
.mat-drawer .kd-nav-group-item .kd-nav-item-button{
  font-size: 13px !important;
}
.mat-drawer .kd-nav-item .kd-nav-item-button{
  font-size: 12px !important;
}
.mat-drawer .kd-nav-group-item .kd-nav-item-button,
.mat-drawer .kd-nav-item .kd-nav-item-button{
  line-height: 28px !important;
  max-height: 28px !important;
  min-height: 28px !important;
  color: #484848 !important;
}
.mat-drawer .kd-nav-group-item .kd-nav-item-button-active,
.mat-drawer .kd-nav-item .kd-nav-item-button-active{
  background-color: #fff !important;
  color: #316EE6 !important;
}

.kd-nav {
  background-color: #fff !important;
}
.kd-second-toolbar {
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.mat-drawer-container {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.mat-drawer .mat-form-field-infix {
  background-color: #eeeeee !important;
}
.mat-drawer .mat-form-field-infix {
  border-top: none !important;
}
.mat-drawer .mat-select-value-text {
  font-size: 11px !important;
  padding-left: 10px !important;
  color: #565656 !important;
}
.mat-drawer .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}
.mat-drawer .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
}
.mat-drawer .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.375em 0 !important;
}
.mat-drawer .mat-select-arrow {
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  border-top: 6px solid !important;
  margin: 0 7px !important;
}
.mat-drawer .kd-namespace-select-title {
  font-size: 11px !important;
  margin-bottom: 3px !important;
}
.mat-drawer .mat-form-field-infix {
  flex: initial !important;
  width: 92.5% !important;
}
.kd-nav .mat-divider {
  margin: 7px -2px 12px 0 !important;
}
.kd-faded-breadcrumb,
.kd-breadcrumbs-container a {
  font-size: 15px !important;
  text-transform: capitalize !important;
}
.kd-faded-breadcrumb {
  margin-top: 1px !important;
}

.kd-second-toolbar{
  height: 45px !important;
  min-height: 45px !important;
}
.kd-toolbar-tools{
  height: 30px !important;
}
.kd-second-toolbar .mat-icon{
  font-size: 20px !important;
  text-transform: none !important;
  line-height: 24px !important;
  width: 20px !important;
}
.kd-second-toolbar .kd-accent .mat-button-wrapper .mat-icon{
  line-height: 28px !important;
  font-size: 21px !important;
  color: #565656 !important;
}
.logo_icon{
  margin-top: -4px;
  margin-right: 5px;
}
.kd-breadcrumb-divider {
  padding: 0 0px !important;
}
// .kd-second-toolbar .kd-toolbar-tools {
//   padding-left: 208px !important;
// }
// left menu collpase expand css //
.mat-drawer-container .mat-expansion-panel{
  border-radius: 0px !important;
  box-shadow: none !important;
}
.mat-drawer-container .mat-expansion-panel-header{
  height: auto !important;
  padding: 0px 24px 0px 0px !important;
  position: relative;
}

.mat-drawer-container .mat-expansion-panel .kd-nav-item {
  margin-left: 8px !important;
}

.mat-drawer-container .mat-expansion-panel .mat-expansion-indicator {
  display: none;
}
.mat-drawer-container .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
  display: none;
}
.mat-drawer-container .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 24px 0px !important;
}
.mat-drawer-container .kd-nav-group:last-child > .kd-nav-item:last-child {
  padding-bottom: 0px !important;
}
.mat-drawer-container .mat-expansion-panel-header::after{
  content: "";
  width: 11px;
  height: 11px;
  background: url("assets/images/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  top: 7px;
  right: 22px;
  position: absolute;
  display: inline-block;
  transition: .4s;
}
.mat-drawer-container .mat-expansion-panel-header.mat-expanded::after{
  content: "";
  transform: rotate(90deg);
  transition: .4s;
}

// end of left menu collpase expand css //

// existing card header css //

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-paginator .mat-paginator-container {
  padding-right: 5px !important;
}

.mat-paginator .mat-paginator-container .mat-paginator-icon {
  width: 18px;
  fill: currentColor !important;
  color: #6c6b6b !important;
}

.mat-paginator .mat-paginator-container .mat-paginator-range-label {
  margin: 0 25px 0 24px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #6c6b6b !important;
}

.mat-paginator .mat-paginator-container .mat-icon-button {
  width: 20px !important;
}

.mat-card-title {
  background-color: #e9efff !important;
}

.kd-light-theme .kd-minimized-card-header:hover{
  background-color: #e9efff !important;
}

.kd-card-header:hover,
.kd-card-header:focus {
  background-color: #e9efff !important;
}

.mat-card-title .kd-card-title {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #343434 !important;
  padding: 5px 0 5px 14px !important;
  min-height: 33px;
  line-height: 23px;
  justify-content: space-between;
}

.mat-card .mat-divider-horizontal {
  display: none !important;
}
.mat-card .kd-search-container {
  display: none !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.kd-card-description {
  font-size: 13px !important;
  flex: 1 1 5% !important;
  color: #3e3e3e !important;
  margin-right: 10px;
}
.kd-card-description .kd-muted-light {
  color: #565656 !important;
  font-weight: 400 !important;
}
.kd-card-toggle {
  margin-right: 14px !important;
}
.mat-card {
  margin: 19.2px !important;
}
.mat-card-title button{
  font-size: 11px;
  padding: 4px 12px;
  line-height: 15px;
  box-shadow: none !important;
  border-radius: unset !important;
}
.mat-card-title button img{
  width: 11px;
  margin-top: -3px;
  margin-right: 5px;
}
.mat-cell a,
.mat-cell span{
  font-size: 12px !important;
}
.mat-cell .mat-icon{
  font-size: 21px !important;
}

.mat-header-row,
.mat-row {
  min-height: 30px !important;
}

