# This file defines default variables values used by npm scripts.
# Read more at at:  https://docs.npmjs.com/files/npmrc
# Config variables can be overridden by running:
# npm run <script-name> --centaurus-dashboard:<variable-name>=<value>

centaurus-dashboard:kubeconfig_dir = ${HOME}/.kube
centaurus-dashboard:kubeconfig = ${HOME}/.kube/config
centaurus-dashboard:frontend_build_dir = dist/frontend/en
centaurus-dashboard:dashboard_binary_path = dist/amd64/dashboard
centaurus-dashboard:dashboard_locale_config = dist/amd64/locale_conf.json
centaurus-dashboard:bind_address = 127.0.0.1
centaurus-dashboard:sidecar_host = http://localhost:8000
