<kd-card role="table"
         [hidden]="isHidden()">
  <div title
       fxLayout="row"
       i18n>Service Accounts</div>
  <div description><span class="kd-muted-light"
                         i18n>Items:&nbsp;</span>{{totalItems}}</div>
  <div actions>
    <kd-card-list-filter></kd-card-list-filter>
  </div>

  <div content
       [hidden]="showZeroState()">
    <div kdLoadingSpinner
         [isLoading]="isLoading"></div>

    <mat-table [dataSource]="getData()"
               matSort
               matSortActive="created"
               matSortDisableClear
               matSortDirection="asc">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         disableClear="true"
                         i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let serviceAccount">
          <a [routerLink]="getDetailsHref(serviceAccount.objectMeta.name, serviceAccount.objectMeta.namespace)"
             queryParamsHandling="preserve">
            {{serviceAccount.objectMeta.name}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="shouldShowColumn('namespace')"
                    matColumnDef="namespace">
        <mat-header-cell *matHeaderCellDef
                         i18n>Namespace</mat-header-cell>
        <mat-cell *matCellDef="let serviceAccount">{{serviceAccount.objectMeta.namespace}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="labels">
        <mat-header-cell *matHeaderCellDef
                         i18n>Labels</mat-header-cell>
        <mat-cell *matCellDef="let serviceAccount">
          <kd-chips [map]="serviceAccount.objectMeta.labels"></kd-chips>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header
                         disableClear="true"
                         i18n>Created</mat-header-cell>
        <mat-cell *matCellDef="let serviceAccount">
          <kd-date [date]="serviceAccount.objectMeta.creationTimestamp"
                   relative></kd-date>
        </mat-cell>
      </ng-container>

      <ng-container *ngFor="let col of getActionColumns()"
                    [matColumnDef]="col.name">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let serviceAccount">
          <kd-dynamic-cell [component]="col.component"
                           [resource]="serviceAccount"></kd-dynamic-cell>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="getColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getColumns();"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalItems"
                   [pageSize]="itemsPerPage"
                   [hidePageSize]="true"
                   [showFirstLastButtons]="true"></mat-paginator>
  </div>

  <div content
       [hidden]="!showZeroState()">
    <kd-list-zero-state></kd-list-zero-state>
  </div>
</kd-card>
