<div [hidden]="shouldShowZeroState()">
  <kd-tenant-list *ngIf="isCurrentSystem"
                  (onchange)="onListUpdate($event)"
                  [hideable]="true"></kd-tenant-list>
  <kd-cluster-role-list (onchange)="onListUpdate($event)"
                        [hideable]="true"></kd-cluster-role-list>
  <kd-namespace-list (onchange)="onListUpdate($event)"
                     [hideable]="true"></kd-namespace-list>
  <kd-node-list *ngIf="isCurrentSystem"
                (onchange)="onListUpdate($event)"
                [hideable]="true"></kd-node-list>
  <kd-persistent-volume-list (onchange)="onListUpdate($event)"
                             [hideable]="true"></kd-persistent-volume-list>
  <kd-storage-class-list (onchange)="onListUpdate($event)"
                         [hideable]="true"></kd-storage-class-list>
</div>

<kd-zero-state [hidden]="!shouldShowZeroState()"></kd-zero-state>
