<mat-drawer-container class="kd-nav">
  <mat-drawer class="kd-nav" mode="side">
    <div class="kd-nav-system-control">
      <kd-tenant-selector></kd-tenant-selector>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf=showMenu>
      <kd-namespace-selector></kd-namespace-selector>
      <mat-divider></mat-divider>
    </div>

    <div *ngIf=showCluster>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <kd-nav-item class="kd-nav-group-item" state="/partition" i18n>
                <img class="menu_icon" src="assets/images/cluster_management_icon.svg" alt="" style="height: 18px; width: 18px">
                <strong>Cluster Management</strong>
              </kd-nav-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div  class="kd-nav-group">
            <kd-nav-item  class="kd-nav-item" state="/partition" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Cluster Monitoring
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/clusterrole" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Cluster roles
            </kd-nav-item>
            <kd-nav-item  class="kd-nav-item" state="/tenant" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Tenants
            </kd-nav-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <div *ngIf=showTenant>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" i18n>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <kd-nav-item class="kd-nav-group-item" state="/overview" i18n>
                <img class="menu_icon" src="assets/images/cluster_management_icon.svg" alt="" style="height: 15px; width: 15px" >
                <strong>Tenant Management</strong>
              </kd-nav-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="kd-nav-group">
            <kd-nav-item class="kd-nav-item" state="/overview" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Tenant Monitoring
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/role" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Roles
            </kd-nav-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <div class="kd-nav-group" *ngIf=showUser >
      <mat-panel-title>
        <kd-nav-item class="kd-nav-group-item" state="/user" [exact]="true" i18n>
          <img class="menu_icon" src="assets/images/user_management.svg" alt="" style="height: 20px; width: 20px">
          <strong>User Management</strong>
        </kd-nav-item>
      </mat-panel-title>
      <kd-pinner-nav kind="resourcequota"></kd-pinner-nav>
      <mat-divider></mat-divider>
    </div>

    <div class="kd-nav-group" *ngIf=showTenant >
      <mat-panel-title>
        <kd-nav-item class="kd-nav-group-item" state="/resourcequota" [exact]="true" i18n>
          <img class="menu_icon" src="assets/images/resource_quota.svg" alt="" style="height: 18px; width: 18px">
          <strong>Quota Management</strong>
        </kd-nav-item>
      </mat-panel-title>
      <kd-pinner-nav kind="resourcequota"></kd-pinner-nav>
      <mat-divider></mat-divider>
    </div>

    <div *ngIf=showMenu>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <kd-nav-item class="kd-nav-group-item" state="/workloadoverview" i18n>
                <img class="menu_icon" src="assets/images/workloads_icon.svg" alt="" style="height: 18px; width: 18px">
                <strong>Workloads</strong>
              </kd-nav-item>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="kd-nav-group">
            <kd-nav-item class="kd-nav-item" state="/workloadoverview" *ngIf=!showTenant i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Overview
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/cronjob" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Cron Jobs
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/deployment" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Deployments
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/job" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Jobs
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/namespace" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Namespaces
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/pod" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Pods
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/replicaset" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Replica Sets
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/statefulset" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Stateful Sets
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/virtualmachine" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Virtual Machines
            </kd-nav-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <kd-nav-item class="kd-nav-group-item" state="/ingress" i18n>
                <img class="menu_icon" src="assets/images/discovery_load_balancing_icon.svg" alt="" style="height: 18px; width: 18px">
                <strong>Discovery and Load Balancing</strong>
              </kd-nav-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="kd-nav-group">
            <kd-nav-item class="kd-nav-item" state="/ingress" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Ingresses
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/service" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Services
            </kd-nav-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <kd-nav-item class="kd-nav-group-item" state="/configmap" i18n>
                <img class="menu_icon" src="assets/images/config_storage_icon.svg" alt="" style="height: 16px; width: 16px">
                <strong>Config and Storage</strong>
              </kd-nav-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="kd-nav-group">
            <kd-nav-item class="kd-nav-item" state="/configmap" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Config Maps
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/secret" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Secrets
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/storageclass" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Storage Classes
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/persistentvolume" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Persistent Volumes
            </kd-nav-item>
            <kd-nav-item class="kd-nav-item" state="/persistentvolumeclaim" i18n>
              <img class="submenu_icon" src="assets/images/right_double_arrow.svg" alt="">
              Persistent Volume Claims
            </kd-nav-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <div class="kd-nav-group">
      <mat-panel-title>
        <kd-nav-item class="kd-nav-group-item" state="/customresourcedefinition" [exact]="true" i18n>
          <img class="menu_icon" src="assets/images/custom_resource_definitions.svg" alt="" style="height: 22px; width: 22px">
          <strong>Custom Resource Definitions</strong>
        </kd-nav-item>
      </mat-panel-title>
      <kd-pinner-nav kind="customresourcedefinition"></kd-pinner-nav>
      <mat-divider></mat-divider>
    </div>

  </mat-drawer>
</mat-drawer-container>
